
#internalLink {
    font-size: 30px;
}

#externalLink {
    font-size: 30px;
}

#linkedInButton {
    width: 200px;
    height: 50px;

    color: crimson;
}

#hiddenText {
    font-size: 30px;
    color: darkblue;
}

img {
    width:auto;
    max-width: 100%;
}

#body-text {
    padding-left: inherit;
}
