
body{
    padding-top: 70px;
}

.navbar-header {
    max-width: 100px;
    float: top;
}

.navbar-section {
    max-width: 200px;
    max-height: 60px;
    width: 100%;
}

#titleLink {
    font-size: 20px;
}

#internalLinks {
    font-size: 20px;
    margin-top: .3%;
}

#externalLinks {
    float: right;
}

#hiddenText {
    font-size: 30px;
    color: darkblue;
}

#trek-image {
    width:auto;
    max-width: 100%;
}

#lobster-logo {
    width: 60%;
    float: top;
    margin-top: -13%;
    margin-left: 15%;
}

#github-logo {
    width: 100%;
    margin-top: -10%;
}

#linkedin-logo {
    width: 100%;
    margin-top: -5%;
}

#body-text {
    margin-left: 5%;
    margin-right: 5%;
}

#twitch-embed {
    float: right;
}
