
.navbar-header {
    max-width: 100px;
    float: top;
}

#titleLink {
    font-size: 20px;
}

#internalLinks {
    font-size: 20px;
}

#externalLinks {
    font-size: 20px;
    float: right;
}

#hiddenText {
    font-size: 30px;
    color: darkblue;
}

#trek-image {
    width:auto;
    max-width: 100%;
}

#lobster-logo {
    width: 50%;
    float: top;
    margin-top: -13%;
}

#github-logo {
    width: 50%;
    float: right;
    margin-top: 3%;
}

#linkedin-logo {
    width: 50%;
    float: right;
    margin-top: 1%;
}

#body-text {
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-section {
    max-width: 100px;
    width: 50%;
}
